@model BO.Arme

@{
    ViewBag.Title = "Page de suppression";
}

<h2>Delete</h2>

<div>
    <h4>Arme</h4>
    <hr />
    <h3>Voulez vous vraiment supprimer cette arme ?</h3>

    @if (ViewBag.Samourais != null)
    {
    <h4>Voici les Samouraïs qui utilisent cette arme : </h4>

    foreach (var samourai in ViewBag.Samourais)
    {
    <h5>@samourai</h5>
    }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degats)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
