@model BO.Samourai

@{
    ViewBag.Title = "Details";
}

<h2>Details du Samouraï</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arme)
        </dt>

        <dd>
            @if (Model.Arme != null)
            {
                @Html.DisplayFor(model => model.Arme.Nom);
            }
            else
            { @ViewBag.Message}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potentiel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potentiel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtMartiaux)
        </dt>

        <dd>
            @if (Model.ArtMartiaux == null)
            {
                @ViewBag.Message2

            }
            @if (Model.ArtMartiaux != null)
            {
                foreach (var artmartial in Model.ArtMartiaux)
                {
                    @Html.DisplayFor(i => artmartial.Nom) <br/>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
